<% layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">Edit Event</h1>
  <div class="col-6 offset-3">
    <form
      action="/events/<%= event._id %>?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div class="form-group mb-3">
        <label for="name">Title:</label>

        <input
          class="form-control"
          type="text"
          name="event[name]"
          id="name"
          value="<%= event.name %>"
          required
        />
        <div class="invalid-feedback">Add event's name</div>
      </div>

      <div class="form-group mb-3">
        <label for="location">Location:</label>
        <input
          class="form-control"
          type="text"
          name="event[location]"
          id="location"
          value="<%= event.location %>"
          required
        />
        <div class="invalid-feedback">Add event's location</div>
      </div>

      <div class="form-group mb-3">
        <label for="image">Image URL:</label>
        <input
          class="form-control"
          type="text"
          name="event[image]"
          id="image"
          value="<%= event.image %>"
          required
        />
        <div class="invalid-feedback">Add an image URL</div>
      </div>

      <div class="form-group mb-3">
        <label for="description" value="event.description">Description:</label>
        <textarea
          class="form-control"
          name="event[description]"
          id="description"
          rows="3"
          required
        >
<%= event.description %></textarea
        >
        <div class="invalid-feedback">Add some description</div>
      </div>

      <div class="form-group mb-3">
        <label for="date">Date: </label>
        <input
          type="date"
          name="event[date]"
          id="date"
          value="<%= event.date %>"
          required
        />
        <div class="invalid-feedback">Choose event's date</div>
      </div>

      <input class="btn btn-success" type="submit" value="save" />
      <a class="btn btn-secondary" href="/events">Cancel</a>
      <a class="btn btn-secondary" href="/">Homepage</a>
    </form>
  </div>
</div>
