<% layout("layouts/boilerplate") %>

<h1>Edit Event</h1>
<form action="/events/<%= event._id %>?_method=PUT" method="post">
  <div>
    <label for="name">Title:</label>
    <br />
    <input type="text" name="event[name]" id="name" value="<%= event.name %>" />
  </div>

  <div>
    <label for="location">Location:</label>
    <br />
    <input
      type="text"
      name="event[location]"
      id="location"
      value="<%= event.location %>"
    />
  </div>

  <div>
    <label for="description" value="event.description">Description:</label>
    <br />
    <textarea name="event[description]" id="description" cols="30" rows="10">
<%= event.description %></textarea
    >
  </div>

  <label for="date">Date: </label>
  <input type="date" name="event[date]" id="date" value="<%= event.date %>" />
  <br />
  <br />
  <input type="submit" value="save" />
  <button><a href="/events">Cancel</a></button>
  <button><a href="/">Homepage</a></button>
</form>
