<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img
        src="<%= event.image%>"
        class="card-img-top"
        alt="images of <%= event.name%>"
      />
      <div class="card-body">
        <h5 class="card-title"><%= event.name%></h5>
        <p class="card-text"><%=event.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">
          <%= event.location %>
          <span class="badge rounded-pill text-bg-light"
            ><a class="text-decoration-none" href="">Get Direction</a></span
          >
        </li>
        <li class="list-group-item text-muted">
          <%= event.date %>
          <span class="badge rounded-pill text-bg-light"
            ><a class="text-decoration-none" href="">Add to calender</a></span
          >
        </li>
      </ul>

      <div class="card-body">
        <a class="btn btn-secondary" href="/events/<%=event._id%>/edit">Edit</a>
        <form
          class="d-inline"
          action="/events/<%= event._id %>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
        <a class="btn btn-secondary" href="/events">All Events</a>
        <a class="btn btn-secondary" href="/">Homepage</a>
      </div>
    </div>
  </div>
</div>
